*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:0px 20px ;
}
.nav-logo{
    display: flex;
    align-items: center ;
    color: #ffbd00;
}
nav ul{
    list-style-type: none;
    display: inline-flex;
    gap:30px;
    height: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color:rgb(255, 255, 255);    
}
.nav-btn{
    background-color:#ffbd00;
    padding: 5px 20px;
    border-radius: 5px;
    color: white    ;
}
#banner{
    height: 100vh;
    width: 100%;
    background-image:url('../img/bg-hero.jpg') ;
}
.container{
    background-color: rgba(0, 10, 25, 0.891);
    height: 100%;
    display: flex;
    align-items: center;
}
.row{
    display: inline-flex;
    width: 100%;
}
.col-50{
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.banner-img img{
    width: 410px;
}
.banner-content{
    color: white;
    padding: 0px 30px;
}
.banner-content h1{
    font-size: 4rem;
}
.banner-content p{
    margin-bottom: 30px;
}
.btn-book{
    text-decoration: none;
    color: rgb(23, 22, 22);
    background-color: #ffbd00;
    padding: 10px 20px;
    border-radius: 5px;

}
#highlight,#about,#popular,#booking,#team,#testimonial{
    padding:30px 120px;
    width: 100%;
}
.card{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 3px 3px 13px 3px black;
    width: 12rem;
}
.p-img{
    width:42px;
}

.card h3{
    font-size: 18px;
}
.card p{
    font-size: 14px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 20px;
    box-shadow:13px 13px 13px 3px rgba(0, 0, 0, 0.004); 
}
.about-container{
    display: inline-flex;
    gap:30px;
}
.about-images{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-content{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.ab-img-top{
    display: inline-flex;
    gap:10px;
    width: 100%;
}
.ab-img-bottom{
    display: inline-flex;
    gap:10px;
    width: 100%;
}
.ab-img-1,.ab-img-2{
    width: 50%;
}
.ab-img-1 img{
    width: 100%;
}

.ab-img-2 img{
    width: 60%;
}
.ab-img-2:nth-child(1){
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
}
.ab-m{
    display: flex;
    justify-content:flex-start ;
    align-items: flex-end;
}
.ab-he-sub{
    display:flex;
    width: 100%;
    align-items: center;
    gap:10px;
}
.ab-he-sub hr{
    width: 20%;
    height: 2px;
    color: #ffbd00;
    border: none;
    background-color: #ffbd00;
}
.ab-he-sub h3{
    color: #ffbd00;
}
.about-heading h1{
    display: inline-flex;
    align-items: center;
}
.about-description,.ab-des-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.about-description{
    gap:30px;
}
.divider{
    width: 5px;
    height: 45px;
    background-color: #ffbd00;
}.ab-des-container{
    gap:24px;
}
.ab-des-container h1{
    color: #ffbd00;
    font-size: 42px;
}
.ab-des-container p{
    line-height: 14px;

}
.ab-btn{
    background-color: #ffbd00;
    padding: 10px 40px ;
    color:white;
    text-decoration: none;
}
.pop-heading{
    text-align: center;
}
.sub-heading{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sub-heading hr{
      width: 5%;
    height: 2px;
    color: #ffbd00;
    border: none;
    background-color: #ffbd00;
    
}
.sub-heading{
    font-size: 14px;
    font-weight: 800;
    color: #ffbd00;
}
.pop-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 0px;
}
.pop-status img{
   width:42px;
   place-self: end;
   margin: 0px 10px;
}
.pop-st-card{
    padding: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.pop-st-card h3{
    font-size: 16px;
}
.pop-st-card p{
    font-size: 12px;
}
.top-menu-item {
    display: flex;
    justify-content: space-between;
}
.menu-item{
    display:inline-flex;
    gap:30px;
}
.price{
    font-size: 32px;
    font-weight: 600;
    color: #ffbd00;
    font-weight: 900;
}
.menu-container{
    display: inline-flex;
    gap:40px;
}
.text-white{
    color:white;
}
.menu-item{
    margin: 10px 0px;
}
.form-container{
    padding: 20px 40px;
    width: 100%;
}
.gap{
    gap:10px;
}
.mb{
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
}
::placeholder{
    color: rgb(28, 28, 28);
}
textarea{
    width: 100%;
    font-size: 18px;
    color: rgb(28, 28, 28);
    padding: 10px 5px;

}
.book-now{
    margin: 10px 0px;
    width: 100%;
    border: none;
    background-color: #ffbd00;
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 18px;
}
.play-container{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/video.jpg');
    display: grid;
    place-items: center;
}
.play-icon{
    background: #9b532a;
     background: radial-gradient(circle,rgba(155, 83, 42, 1) 12%, rgba(155, 83, 42, 1) 38%, rgba(176, 84, 4, 1) 55%, rgba(199, 119, 87, 1) 83%);
     padding: 0px;
     border-radius: 50%;
     box-shadow:-2px 2px 10px 40px  #89340269;;
}
.t-img{
    width: 80%;
    height: 90%;
    border-radius: 50%;
}
.te-center{
   display: grid;
   place-items: center;
   height: 210px;
}
.col-30{
    width: 30%;
}
.card-tes{
    padding: 10px;
    border: 1px solid black;
}
.co-tes{
    font-size: 42px;
    font-weight: 900;
}
.client-img{
    width: 60px;
    border-radius: 50%;
}
.flex{
    display: flex;
    align-items: center;
    gap:20px;

}
.testimonial{
    justify-content: center;
    gap:20px;
    margin-top: 40px;
}
.status{
    gap:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.circle{
    width: 10px;
    height:10px;
    border:1px solid rgba(0, 0, 0, 0.685);
    border-radius: 50%;
    background-color: #f1f1f1;
}
.circle:nth-child(2){
    background-color: #ffbd00;
    border: none;
}
footer{
    width: 100%;
    padding:30px;
    background-color: #1c2532;
    color:white;
}
.fo-con{
    display: inline-flex;
    width: 100%;
}
.col-25{
    width: 25%;
}
footer h3{
    font-size: 16px;
    font-weight: 100;
}
footer img{
    width: 24px;
}
.fo-con{
    padding: 30px;
}
.con-inf{
    display: inline-flex;
    gap:10px;
    margin: 5px 0px;
}
footer .sub-heading{
    margin-bottom: 20px;
}
.col-25 h3{
    line-height: 32px;
}
.new-form{
    display: inline-flex;
    background-color: white;
    margin-top: 20px;
}
.new-form input{
    border: none;
}
.new-form input[type="submit"]{
    background-color: #ffbd00;
    color: white;
}
.col-25 .sub-heading{
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.con-inf{
    display: flex;
}
.so-con{
    display: flex;
    width: 100%;
    justify-content:flex-start;
    gap: 30px;
}
.so-i img{
    width: 24px;
    height: 24px;
}
.so-i{
    border: 1px solid white;
    border-radius: 50%;
    padding:3px;
    /* height: 27px; */
    height: 36px;
    width: 36px;
    display:grid;
    place-items: center;
}